@import 'css/mixins/flexbox';

.ManageUsers {
  margin: auto 10%;
}

.ManageUsers__h1 {
  font-size: 4.4rem;
  margin: 10px 0px;
}

.ManageUsers__right-aligned-element {
  @include flexitem--pushed-right;
  @include flexcontainer;
  justify-content: flex-end;
}
