node_modules
backend/node_modules
backend/pgCatalog/pgCatalog.json
!/populateDB/*
backend/.serverless
frontend/stories/schema/schema.graphql
frontend/stories/schema/schema.js
frontend/.DS_Store
frontend/src/.DS_Store
frontend/**/*.css
.DS_Store
