node_modules
backend/node_modules
backend/pgCatalog/pgCatalog.json
!/populateDB/*
backend/.serverless
frontend/.DS_Store
frontend/src/.DS_Store
frontend/**/*.css
frontend/src/Map/mapboxstyle-undecorated.json
frontend/src/Map/mapboxstyle.json
frontend/src/stories/schema/schema.graphql
frontend/src/stories/schema/schema.js
.DS_Store
