@mixin flexcontainer {
  display: flex;
}

@mixin flexitem {
  flex: 1;
}

@mixin flexcontainer--center {
  @include flexcontainer;
  align-items: center;
}

@mixin flexcontainer--column {
  @include flexcontainer;
  flex-direction: column;
}

@mixin flexcontainer--row {
  @include flexcontainer;
  flex-direction: row;
}

@mixin flexitem--pushed-right {
  @include flexitem;
  align-self: center;
  margin-left: auto;
}
