.LoginPage {
  height: 100%;
  background: midnightblue;
}

.LoginPage__form-controls {
  width: fit-content;
  margin: 20px auto;
}

.LoginPage__h1 {
  color: white;
  text-align: center;
  padding-left: .5em;
  padding-right: .5em;
}

.LoginPage__input {
  width: 100%;
  font-size: 2em;
  margin-top: 1em;
  padding-top: .4em;
  padding-bottom: .4em;
  padding-left: .4em;
}

.LoginPage__submit {
  width: 100%;
  font-size: 2em;
  margin-top: 1em;
  padding-top: .4em;
  padding-bottom: .4em;
  padding-left: .4em;
  background-color: deepskyblue;
}

.LoginPage__form {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}
