.flexcontainer {
  display: flex; }

.flexitem {
  flex: 1; }

.flexitem--pushed-right {
  flex: 1;
  align-self: center;
  margin-left: auto; }

.UserControls {
  display: flex;
  flex: 1;
  align-self: center;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center; }

.Header__settings-icon {
  margin-right: 1rem;
  height: 2rem; }
