.TableSearch__input {
  width: 25rem;
  height: 3.5rem;
  border: 1px solid #0F0035;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.TableSearch__search-button {
  color: white;
  border: 0;
  background: url(../../../images/search-bg.svg) no-repeat right #ffffff;
  -webkit-appearance: none;
  min-width: 3.8rem;
  cursor: pointer;
  display: block;
  text-indent: -9999em;
}
