@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
html {
  font-family: "Roboto", sans-serif;
  font-size: 10px; }

p, span {
  font-size: 1.7rem; }

.Table {
  border-spacing: 0;
  margin: 2em 0;
  min-width: 100%; }
  .Table thead th,
  .Table thead td {
    background-color: #f1f1f1; }
  .Table th {
    text-align: left;
    font-weight: bold; }
  .Table tbody th {
    font-weight: 400; }
  .Table th,
  .Table td {
    background-color: #ffffff;
    border-bottom: 1px solid #5b616b;
    padding: 1.2rem; }

.Table__header {
  font-size: 1.5rem; }

.Table__content {
  font-size: 1.7rem; }

.Table__content--linked {
  font-size: 1.7rem; }
  .Table__content--linked a {
    color: #000000; }

.Table__header-caret {
  width: 20px;
  margin: 6px 0 -7px -3px; }
