@import "css/mixins/flexbox";

.CrossingMapPage__map-container {
  flex: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.CrossingMapOverlay__close-button {
  position: absolute;
  z-index: 1;
  margin-left: 290px;
  margin-top: 5px;
  font-size: 2em;
}

.CrossingMapOverlay {
  position: absolute;
  width: 100%;
}

.CrossingMapOverlay__detail-container {
  width: 320px;
  z-index: 11;
  margin-left: 10px;
  margin-top: 50px;
  position: absolute;
}

.CrossingMapOverlay__detail-container.smallsize {
  width: 100%;
  position: absolute;
  z-index: 11;
  margin: 0;
}

.CrossingMapPage__fullscreen-toggle {
  position: absolute;
  margin-left: 50px;
  margin-top: 10px;
  z-index: 1;
  background: white;
  padding: 5px;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.RootContainer {
    height: 100%;
}

.PageLayout {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Header {
  flex: none;
}

.CrossingMapPage__page-container {
  flex: auto;
  display: flex;
  flex-direction: column;  
}

.fullscreen {
  flex: auto;
  display: flex;
  flex-direction: column; 
}

.CrossingMapPage {
  flex: auto;
  display: flex;
  flex-direction: column; 
}

.mapboxgl-map {
  flex: auto;
}
