@import 'css/mixins/flexbox';
@import 'css/mixins/layout';
@import 'css/mixins/colors';

.CrossingStatusHistory--lg {
  .CrossingStatusHistory__item-details-flexcontainer {
    @include flexcontainer--row;
  }
  background: #efefef;
}

.CrossingStatusHistory__list-wrapper {
  max-width: 1100px;
  margin: auto;
  background: #efefef;
}

.CrossingStatusHistory_header-background {
  background: $color-primary;
}

.CrossingStatusHistory__section-header {
  @include section-header;
  @include flexcontainer;
  max-width: 1100px;
  margin: auto;
}

.CrossingStatusHistoryItem {
  background: white;
  padding: 20px;
  margin-bottom: 2px;
}

.CrossingStatusHistoryItem__details-container {
  width: 100%;
}

.CrossingStatusHistoryItem__details {
  display: flex;
}

.CrossingStatusHistoryItem__status {
  display: flex;
}

.CrossingStatusHistoryItem__status-icon {
  margin-right: 10px;
}

.CrossingStatusHistoryItem__status-and-author {
  width: 180px;
  margin-top: 10px;
}

.CrossingStatusHistoryItem__author-name {
  text-decoration: underline;
}

.CrossingStatusHistoryItem__datetime {
  text-align: right;
  font-size: 1.5rem;
  width: 100px;
  margin-top: 10px;
}

.CrossingStatusHistoryItem__datetime.smallsize {
  flex: 2;
}

.CrossingStatusHistoryItem__datetime-date {
  text-transform: uppercase;
  color: #547281;  
  font-size: 1.3rem;
  font-weight: 600;
}

.CrossingStatusHistoryItem__reason-duration-notes {
  flex: auto;
  display: flex;
}

.CrossingStatusHistoryItem__reason-duration {
  flex: 1;
}

.CrossingStatusHistoryItem__notes {
  flex: 1;
  margin-top: 10px;
}

.CrossingStatusHistoryItem__reason {
  margin-top: 10px;
}

.CrossingStatusHistoryItem__duration {
  margin-top: 10px;
}

.CrossingStatusHistoryItem__subdetails-title {
  text-transform: uppercase;
  color: #547281;
  font-size: 1.3rem;
  font-weight: 600;
}

.CrossingStatusHistoryItem__subdetails-content {
  font-size: 1.5rem;
}

.CrossingStatusHistory__section-header--title {
  @include flexitem;
}

.CrossingStatusHistory__spreadsheet-link {
  @include flexitem;
  text-align: right;
  color: white;
  text-decoration: none;
  letter-spacing: 0.6em;
}

.CrossingStatusHistory__spreadsheet-download-link {
  color: #7affaf;
}
