@import "css/mixins/flexbox";
@import "css/mixins/layout";
@import "css/mixins/colors";

.CrossingStatusHistory--lg {
  .CrossingStatusHistory__item-details-flexcontainer {
    @include flexcontainer--row;
  }
  background: #EFEFEF;
}

.CrossingStatusHistory__list-wrapper {
  @include raised-container-wrapper;
  max-width: 1100px;
  margin: auto;
}

.CrossingStatusHistory_header-background {
  background: $color-primary;
}

.CrossingStatusHistory__section-header {
  @include section-header;
  @include flexcontainer;
  max-width: 1100px;
  margin: auto;
}

.CrossingStatusHistory__item {
  padding: 20px;
  border-bottom: 1px solid $border-color-light;
  @include flexcontainer--column;
  @include raised-container;
}

.CrossingStatusHistory__item-details-flexcontainer {
  @include flexitem;
  @include flexcontainer--column;
}

.CrossingStatusHistory__item-details {
  @include flexitem;
  align-items: center;
  padding: 10px 5px 0;
  &:first-of-type {
    @include flexcontainer;
    padding-left: 0;
  }
}

.CrossingStatusHistory__status-icon {
  margin-right: 10px;
}

.CrossingStatusHistory__item-subdetails {
  @include flexcontainer--column;
  margin-bottom: 10px;
  line-height: 2.2rem;
  &:last-of-type {
    margin-bottom: 0px;
  }
}

.CrossingStatusHistory__section-header--title {
  @include flexitem;
}

.CrossingStatusHistory__spreadsheet-link {
  @include flexitem;
  text-align: right;
  color: white;
  text-decoration: none;
  letter-spacing: .6em;
}

.CrossingStatusHistory__spreadsheet-download-link {
  color: #7affaf 
}
