@import "css/mixins/flexbox";
@import "css/font-awesome/font-awesome.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i');

.CrossingListItem {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0px 1px 3px grey;
  padding: 20px;
}

.CrossingListItem.CrossingListItem--dirty {
  outline: 4px solid #40B3FF;
}

.CrossingListItemFlexContainer {
  @include flexcontainer;
  flex-direction: column;
}

.CrossingListItem.CrossingListItem--lg .CrossingListItemFlexContainer{
  flex-direction: row;
}

.CrossingListItemFlexItem {
  @include flexitem;
  margin: 10px;
}

.CrossingListItemFlexItem--spacer {
  @include flexitem;
  margin: 0 10px;
}

.CrossingName {
  font-size: 12pt;
  color: #055eff;
  text-decoration: underline;
  font-family: "Roboto";
  letter-spacing: .2pt;
}

.ControlLabelContainer {
  @include flexcontainer;
}

.ControlLabel {
  @include flexitem;
  font-size: 11pt;
  font-weight: 500;
  line-height: 2em;
}

.NotesTextBox {
  width: 100%;
  font-size: 12pt;
  text-indent: 12px;
  height: 40px;
  overflow: hidden;
  border: 1px solid #d6d4dc;
}

.ButtonContainer {
  @include flexcontainer;
  align-items: flex-end;
  height: 100%;
}

@mixin button {
  @include flexitem;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  font-size: 11pt;
  font-family: "Roboto";
  text-align: center;
  border: 2px solid #0054FF;
  cursor: pointer;
}

.CancelButton {
  @include button;
  color: #0054FF;
  margin-right: 15px;
}

.SaveButton {
  @include button;
  color: white;
  background-color: #0054FF;
  margin-left: 15px;
}

.required {
  @include flexitem;
  font-family: "Roboto";
  text-align: right;
  font-size: 9pt;
  font-weight: 300;
  font-style: italic;
  align-self: center;
}
