.Dropdown {
  height: 40px;
  overflow: hidden;
  background: url("../../../images/chevron-down-light.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  border: 1px solid #d6d4dc;
  background-size: 22px; 
  background-position: 96% 60%;
}

.Dropdown__select {
  background: transparent;
  padding: 10px;
  font-size: 1.5rem;
  line-height: 2rem;
  border: 0;
  border-radius: 0;
  height: 40px;
  -webkit-appearance: none;
}
