@mixin flexcontainer {
  display: flex;
}
.flexcontainer {
  @include flexcontainer;
}

@mixin flexitem {
  flex: 1;
}
.flexitem {
  @include flexitem;
}

@mixin flexitem--pushed-right {
  @include flexitem;
  align-self: center;
  margin-left: auto;
}
.flexitem--pushed-right {
  @include flexitem--pushed-right;
}