@import 'css/mixins/flexbox';

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

.CrossingMapSearchBar__header {
  background: #004d90;
  color: white;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 0.11em;
  font-weight: 600;
}

.CrossingMapSearchBar__container {
  background: #006cb5;
  color: #8bbadb;
  min-height: 50px;
  @include flexcontainer;
}

.CrossingMapSearchBar__location-icon {
  padding-left: 20px;
  padding-top: 13px;
}

.CrossingMapSearchBar__glass-icon {
  padding-top: 13px;
  padding-right: 10px;
}

.CrossingMapSearchBar__cancel-icon {
  padding-top: 13px;
  padding-right: 10px;
}

.CrossingMapSearchBar__text-entry {
  width: 100%;
  margin-bottom: -10px;
}

.CrossingMapSearchBar__selected-item {
  width: 100%;
  margin-top: 12px;
  font-size: medium;
  color: white;
  text-align: center;
}

.react-autosuggest__input {
  font-size: medium;
  color: white;
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
  border: none;
  background: none;
  @include placeholder {
    color: white;
  }
}

.react-autosuggest__container {
  margin-top: 14px;
}

.react-autosuggest__suggestions-container {
  color: black;
  background: #f8f8f9;
  margin-top: 15px;
  margin-left: -31px;
  margin-right: -26px;
}

.react-autosuggest__suggestion--highlighted {
  background: red;
}
