

.DateTime__clock-icon {
  display: inline-block;
  font-size: 12pt;
  color: #474554;
  vertical-align: top;
  width: 24px;
  text-align: center;
}

.DateTime__text {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: .2pt;
  width: calc(100% - 24px);
}
