@import 'css/mixins/flexbox';

.UserControls {
  @include flexcontainer;
  @include flexitem;
  align-items: center;
  background: #000000;
  color: #969696;
  padding: 0.5rem 5%;
  font-size: 1.2rem;
}

.Header__banner-message {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Header__banner-message a {
  padding-left: 0.3rem;
}

.UserControls a {
  color: #969696;
}

.UserControls.smallsize {
  @include flexcontainer;
  @include flexitem--pushed-right;
  align-items: center;
  padding-bottom: 1em;
  width: fit-content;
  min-width: 30px;
  padding-left: 1em;
  padding-top: 1em;
  flex: auto;
}

.Header__settings-icon {
  cursor: pointer;
}

.Header__settings-icon.fa {
  font-size: 1.5rem;
}

.UserControls__link {
  padding: 0 1em;
  cursor: pointer;
}
