.BulkActionsDropdown {
  width: 22rem;
  height: 40px;
  overflow: hidden;
  background: url('../../images/chevron-down-bg.svg') no-repeat right #ffffff;
  border: 1px solid #0F0035;
  background-size: 39px 40px;
}

.BulkActionsDropdown__select {
  width: 22rem;
  background: transparent;
  padding: 10px;
  font-size: 1.5rem;
  line-height: 2rem;
  border: 0;
  border-radius: 0;
  height: 40px;
  -webkit-appearance: none;
}
