.CrossingListItem__details-item {
  margin-bottom: 1rem;
}

.CrossingListItem__details-item-title {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #727272;
}


.CrossingListItem__details-item-children {
  font-size: 1.5rem;
}
