@import 'css/mixins/flexbox';
@import 'css/mixins/layout';

.CrossingListItem {
  @include raised-container;
}

.CrossingListItem.CrossingListItem--dirty {
  outline: 4px solid #40b3ff;
}

.CrossingListItemFlexContainer {
  @include flexcontainer;
  flex-direction: column;
}

.CrossingListItem.CrossingListItem--lg .CrossingListItemFlexContainer {
  flex-direction: row;
}

.CrossingListItemFlexItem {
  @include flexitem;
  margin: 10px;
}

.CrossingListItemFlexItem--spacer {
  @include flexitem;
  margin: 0 10px;
}

.CrossingName {
  color: #000;
  font-size: 14pt;
  font-weight: 700;
  text-decoration: none;
}

.ControlLabelContainer {
  @include flexcontainer;
}

.ControlLabel {
  @include flexitem;
  font-size: 10pt;
  font-weight: 600;
  line-height: 2em;
  text-transform: uppercase;
}

.NotesTextBox {
  width: 100%;
  font-size: 12pt;
  text-indent: 12px;
  height: 40px;
  overflow: hidden;
  border: 1px solid #b0bec5;
  background: #f9f9fa;
  border-radius: 5px;
}

.ButtonContainer {
  @include flexcontainer;
  align-items: flex-end;
  height: 100%;
}

@mixin button {
  @include flexitem;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  font-size: 11pt;
  text-align: center;
  border: 2px solid #0054ff;
  cursor: pointer;
}

.CancelButton {
  @include button;
  color: #0054ff;
  margin-right: 15px;
}

.SaveButton {
  @include button;
  color: white;
  background-color: #0054ff;
  margin-left: 15px;
}

.required {
  @include flexitem;
  text-align: right;
  font-size: 9pt;
  font-weight: 400;
  font-style: italic;
  align-self: center;
  text-transform: uppercase;
}
