@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
html {
  font-family: "Roboto", sans-serif;
  font-size: 10px; }

p, span {
  font-size: 1.7rem; }

.link {
  text-decoration: underline !important; }

.button-reset {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-indent: 0; }
  .button-reset::-moz-focus-inner {
    border: 0;
    padding: 0; }

.flexcontainer {
  display: flex; }

.flexitem {
  flex: 1; }

.flexitem--pushed-right {
  flex: 1;
  align-self: center;
  margin-left: auto; }

body {
  margin: 0;
  padding: 0; }
