.CrossingListHeader.fullsize {
  height: 65px;
  background: #0C0333;
  display: flex;
}

.CrossingListHeader.smallsize {
  background: #0C0333;
  min-width: 240px;
}

.CrossingListSearch.fullsize {
  margin-left: 5%;
  flex: 1;
  display: flex;
  min-width: 200px;
}

.CrossingListSearch.smallsize {
  display: flex;
  margin-left: 5%;
  margin-right: 5%
}

.CrossingListSearchInput {
  height: 45px;
  box-sizing: border-box;
  width: 85%;
  margin-top: 10px;
  font-size: 1.4em;
  padding-left: 1em;
  min-width: 155px;
}

.CrossingListSearchButton {
  background: #1764F6;
  width: 15%;
  min-width: 30px;
  height: 45px;
  margin-top: 10px;
  color: white;
  font-size: 1.6em;
  text-align: center;
  line-height: 45px;
}

.CrossingListSortToggleText.fullsize {
  line-height: 65px;
  text-align: center;
  margin-left: -30%;
  font-size: 1.3em;
}

.CrossingListSortToggle {
  flex: auto;
  color: white;
  cursor: pointer;
}

.CrossingListSortToggle.smallsize {
  flex: 1;
}

.CrossingListSortToggleText.smallsize {
  line-height: 65px;
  text-align: center;
  font-size: 1.3em;
}

.CrossingListFilterToggle.smallsize {
  line-height: 65px;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
  flex: 1;
  color: white;
}

.CrossingListFilterToggle.smallsize.selected {
  background-color: #3C298D;
}

.CrossingListFilter.fullsize {
  color: white;
  display: flex;
  justify-content: space-between;
  min-width: 340px;
  font-size: 1.3em;
  line-height: 65px;
  flex: 1.5;
}

.CrossingListFilter.smallsize {
  background-color: #3C298D;
  color: white;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 1.2em;
  line-height: 2em;
}

.CrossingListFilterItem.fullsize {
  flex: auto;
}

.CrossingListFilterCheckbox.fullsize {
  width: 1.5em;
  height: 1.3em;
}

.smallflex {
  display: flex;
}
