@import 'css/mixins/layout';

.CrossingList {
  @include raised-container-wrapper;
}

.ReactVirtualized__Grid {
  outline: none;
}

.CrossingListItemMeasureContainer {
  width: calc(100% - 8px) !important;
  left: 4px !important;
}

.CrossingListPage_crossing-list-container {
  max-width: 1100px;
  margin: auto;
}

.CrossingListPage {
  background: #f8f8f9;
}
