@import 'css/mixins/flexbox';
@import 'css/mixins/colors';

.CrossingDetails {
  position: relative;
}

.CrossingDetails__communities button {
  &:last-of-type {
    margin-right: 0;
  }
}

.CrossingDetails__addCommunityButtons {
  margin-top: 10px;
}
